table {
    margin-top: 15px;
}

.img-circle{
    max-height: 50px;
}

td {
    vertical-align: middle;
}

tr:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    background-color: #fafafa;
}